[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiogram = "*"
selenium = "*"
bs4 = "*"
requests = "*"
tqdm = "*"
fuzzywuzzy = "*"
python-levenshtein = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.6"
